---
const pageTitle="À propos d'un gros cerveau";

const identity = {
  firstName: "Benjamin",
  country: "France",
  occupation: "un énorme cerveau, du type vraiment impressionnant, le genre de masse de matière grise qu'on ne voit que rarement, il faut me croire",
  hobbies: ["la photographie", "l'écriture","astronomie"],
};

const skills = ["Lire","Connaître l'alphabet de A à Z","Compter de 0 à 9 (ou de 1 à 10, mais il faut choisir, je ne sais pas faire les deux)"];

const happy = true;
const finished = false;
const goal = 2;

import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import '../styles/global.css';
---

<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
  </head>

<body>
<Header />

  <h1>{pageTitle}</h1>
  
  <ul>
    <li>Je m'appelle {identity.firstName}.</li>
    <li>Je vis en {identity.country} et j'ai {identity.occupation}.</li>
    {identity.hobbies.length >= 2 &&
    <li>Deux de mes violons d'Ingres sont: {identity.hobbies[0]} et {identity.hobbies[1]}.</li>}
  </ul>
 
<h4> Mes talents: </h4>
<ul>
	{skills.map((skill) => <li>{skill}</li>)}
</ul>



<h3> Que peut-on trouver sur ce site ? </h3>

<p> Ce site est dédié principalement à des réflexions philosophiques, notamment à de la <a href="https://fr.wikipedia.org/wiki/Philosophie_des_sciences">philosophie des sciences</a>. Il n’a pas de rythme de bloggage particulier mais il a un but précis: je tiens un intérêt fort pour la philosophie des sciences astrophysiques. En effet, autant ces sciences semblent-elles être arrivées à maturité, autant font-elle face à un nombre toujours grandissant de paradoxes. J’estime que l’état présent de l’astrophysique et de la cosmologie permet d’entrevoir la fabrique du savoir et même la fabrique d’un paradigme, car les théories explicites et implicites de ces sciences sont remises en question par des anomalies résistant sur le long terme.</p>

<p> L’on trouvera donc principalement des articles d’introduction, de présentation et d’explication de philosophie des sciences (auteurs, idées, ouvrages...) et des articles d’ordre épistémologiques : des réflexions sur les conditions de possibilité d’une philosophie de l’astrophysique et sur l’état actuel de la théorie de la science astrophysique. </p>

<h3> A part un gros cerveau, qui suis-je véritablement ? </h3>

<p> Un bipède sans plumes. </p>

<p> Plus sérieusement, je ne sors pas du trou du cul du monde (et je n’écris pas non plus avec le cul qui en serait sorti) : j’ai une licence de philosophie et un master en Science & Société, c’est-à-dire que j’aime la philosophie mais que j’ai également des compétences en histoire des sciences, en sociologie des sciences, en anthropologie des sciences... En général je sais m’adapter à toute forme d’étude en épistémologie et j’adopte une approche <a href="https://fr.wikipedia.org/wiki/Interdisciplinarit%C3%A9">interdisciplinaire</a>: en gros la pratique d'employer plusieurs méthodologies rendues complémentaires afin de proposer une réflexion unie. </p>

<p> Outre la fac, je suis autodidacte et j’ai des compétences dans d’autres domaines. Je maîtrise Linux pour un usage quotidien, et j’apprécie aussi l’histoire de l’art, l’astronomie, le dessin, la musique... J’ai codé moi-même ce site avec <a href="https://docs.astro.build/en/tutorial/0-introduction/">Astro</a> (bien que ça me facilite le transit intestinal).</p>

<h3> Pourquoi écrire ici ? </h3>

<p> J’ai envie partager ma passion pour l’épistémologie et pour l’astronomie. D’autre part, ça fait du bien d’écrire dans un cadre qui n’est pas universitaire. C’est plus facile de douter, d’affirmer des idées douteuses, de se questionner ouvertement quand aucune contrainte ne s’impose sinon celles que l’on pourrait choisir soi-même.</p>

<h3> Ce site évoluera-t-il ? </h3>

<p> Ce site est moche, mais c’est parce que j’ai décidé de retirer tout ce qu’il y a d’inutile sur un blog standard. J'ai remarqué que les blogs que j'aimais le plus lire étaient tout simplement de vieux sites en HTML, riches de contenu et non pas riches en présentation. D'ailleurs je considère que si l'on a un écran, le but est de l'utiliser entièrement: beaucoup de blogs sont optimisés pour laisser une marge absolument énorme, ce que je n'ai jamais compris. C'est une parte d'espace. Le but étant d’écrire, j’estime aussi que quiconque consulte ce blog a pour but de lire ce qui y a été écrit. Le contenu étant visible, sa fonction est entièrement remplie. </p>

<p> En revanche, je mettrai bien sûr à jour ses pages au fil du temps. </p>

<h3> Et si... ? </h3>

<p> Peut-être... ? </p>

</p>
</body>
